.container {
	max-width: 768px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}
.grid {
	display: grid;
	gap: 1.5rem;
}
.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
}
.nav {
	max-width: 968px;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list a {
	text-decoration: none;
}
.nav-toggle {
	color: white;
	position: absolute;
	left: 300px;
}

.nav-menu {
	position: fixed;
	bottom: -100%;
	left: 0;
	width: 100%;
	background-color: #fafafa;
	padding: 2rem 1.5rem 4rem;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 1.5rem 1.5rem 0 0;
	transition: 3ms;
}
.open {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fafafa;
	padding: 2rem 1.5rem 4rem;
	box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
	border-radius: 1.5rem 1.5rem 0 0;
	transition: 3ms;
}

.nav-list {
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}
.nav-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--small-font-size);
	font-family: "Delius Swash Caps", cursive;
}
.nav-item i {
	color: #f953c6;
}
li i {
	font-size: 1.4rem;
	margin-bottom: 3px;
}
li {
	color: #493240;
	font-weight: bold;
	font-family: "Delius Swash Caps", cursive;
}

.linea {
	background-image: linear-gradient(90deg, #ff69c8 0, #ffe742 50%, #87fffb);
	content: "";
	display: block;
	height: 7px;
	bottom: 0;
	position: absolute;

	width: 100%;
}
.nav-item {
	font-size: 1rem;
}
.nav-logo,
a {
	color: #ffedbc;
}
@media screen and (min-width: 768px) {
	.nav-menu {
		padding: 2rem 0.25rem 4rem;
		top: 0;
		background-color: transparent;
	}
	.nav-list {
		column-gap: 0;
	}
	.nav-list {
		display: flex;
		justify-content: flex-end;
		gap: 0;
	}
	.nav-item {
		margin-right: 3.125rem;
	}
	.nav-item i {
		display: none;
	}
	.nav-toggle {
		display: none;
	}
	li {
		color: #ffedbc;
		font-size: 1.3rem;
	}
	li:hover {
		color: hsl(317 100% 54%);
	}
	.nav-item {
		text-decoration: underline wavy #aa076b;
		text-underline-offset: 9px;
	}
}
