.skills__container {
	max-width: 1100px;
	margin: auto;
	padding: 5.625rem 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skills__icons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2.2rem;
}
.icons__skill {
	width: 100px;
	margin-right: 1.25rem;
}
.skills__title {
	color: wheat;
	text-align: center;
	font-family: "Delius Swash Caps", cursive;
	font-size: 2.1rem;
	margin-top: 2.5rem;
}

@media screen and (max-width: 768px) {
	.skills__container {
		max-width: 1100px;
		margin: auto;
		padding: 5.625rem 0;
		display: flex;
		justify-content: center;
	}
	.icons__skill {
		width: 50px;
		margin-right: 0;
	}
	.skills__title {
		color: wheat;
		text-align: center;
		font-family: "Delius Swash Caps", cursive;
		font-size: 1.4rem;
		margin-top: 2.5rem;
	}
}
